/* #22363C - dark blue*/
/* #A77D4D - golden brown */
/* #D3AC64 - yellow gold */
/* #FAEED3 - skin */
/* #7F5837 - milk choco. */

.header {
    height: 6.25rem;
    display: flex;
    justify-content: center;
    background: #5E3F2C;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    border-bottom: 3px solid #BFA17F;
}

.headerOptionLine1 {
    font-family: 'Spline Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    /* font-size: 100%; */
    text-transform: uppercase;

    color: #BFA17F;
}

.headerNavLeft {
    align-items: center;
    display: flex;
}

.headerNavLeft .headerOption {
    margin-right: 2.875em;
}

.headerNavMiddle {
    justify-content: center;
    position: static;
    margin-top: 0;
    
}

.headerNavRight {
    align-items: center;
    display: flex;
}

.headerNavRight .headerOption {
    margin-left: 2.875em;
}

.navLogo {
    max-width: 9.625rem;
}